<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AysActMapper">
    
    <resultMap type="AysAct" id="AysActResult">
        <result property="aid"    column="aid"    />
        <result property="oid"    column="oid"    />
        <result property="aname"    column="aname"    />
        <result property="asubject"    column="asubject"    />
        <result property="atype"    column="atype"    />
        <result property="astart"    column="astart"    />
        <result property="aend"    column="aend"    />
        <result property="alocation"    column="alocation"    />
        <result property="aobject"    column="aobject"    />
        <result property="anum"    column="anum"    />
        <result property="agradetype"    column="agradetype"    />
        <result property="agrade"    column="agrade"    />
    </resultMap>

    <sql id="selectAysActVo">
        select aid, oid, aname, asubject, atype, astart, aend, alocation, aobject, anum, agradetype, agrade from ays_act
    </sql>

    <select id="selectAysActList" parameterType="AysAct" resultMap="AysActResult">
        <include refid="selectAysActVo"/>
        <where>  
            <if test="aname != null  and aname != ''"> and aname like concat('%', #{aname}, '%')</if>
            <if test="asubject != null  and asubject != ''"> and asubject = #{asubject}</if>
            <if test="atype != null  and atype != ''"> and atype = #{atype}</if>
            <if test="astart != null "> and astart = #{astart}</if>
            <if test="aend != null "> and aend = #{aend}</if>
            <if test="alocation != null  and alocation != ''"> and alocation = #{alocation}</if>
            <if test="aobject != null  and aobject != ''"> and aobject = #{aobject}</if>
            <if test="anum != null "> and anum = #{anum}</if>
            <if test="agradetype != null  and agradetype != ''"> and agradetype = #{agradetype}</if>
            <if test="agrade != null "> and agrade = #{agrade}</if>
        </where>
    </select>
    
    <select id="selectAysActById" parameterType="Long" resultMap="AysActResult">
        <include refid="selectAysActVo"/>
        where aid = #{aid}
    </select>
        
    <insert id="insertAysAct" parameterType="AysAct" useGeneratedKeys="true" keyProperty="aid">
        insert into ays_act
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="oid != null">oid,</if>
            <if test="aname != null and aname != ''">aname,</if>
            <if test="asubject != null and asubject != ''">asubject,</if>
            <if test="atype != null and atype != ''">atype,</if>
            <if test="astart != null">astart,</if>
            <if test="aend != null">aend,</if>
            <if test="alocation != null and alocation != ''">alocation,</if>
            <if test="aobject != null">aobject,</if>
            <if test="anum != null">anum,</if>
            <if test="agradetype != null">agradetype,</if>
            <if test="agrade != null">agrade,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="oid != null">#{oid},</if>
            <if test="aname != null and aname != ''">#{aname},</if>
            <if test="asubject != null and asubject != ''">#{asubject},</if>
            <if test="atype != null and atype != ''">#{atype},</if>
            <if test="astart != null">#{astart},</if>
            <if test="aend != null">#{aend},</if>
            <if test="alocation != null and alocation != ''">#{alocation},</if>
            <if test="aobject != null">#{aobject},</if>
            <if test="anum != null">#{anum},</if>
            <if test="agradetype != null">#{agradetype},</if>
            <if test="agrade != null">#{agrade},</if>
         </trim>
    </insert>

    <update id="updateAysAct" parameterType="AysAct">
        update ays_act
        <trim prefix="SET" suffixOverrides=",">
            <if test="oid != null">oid = #{oid},</if>
            <if test="aname != null and aname != ''">aname = #{aname},</if>
            <if test="asubject != null and asubject != ''">asubject = #{asubject},</if>
            <if test="atype != null and atype != ''">atype = #{atype},</if>
            <if test="astart != null">astart = #{astart},</if>
            <if test="aend != null">aend = #{aend},</if>
            <if test="alocation != null and alocation != ''">alocation = #{alocation},</if>
            <if test="aobject != null">aobject = #{aobject},</if>
            <if test="anum != null">anum = #{anum},</if>
            <if test="agradetype != null">agradetype = #{agradetype},</if>
            <if test="agrade != null">agrade = #{agrade},</if>
        </trim>
        where aid = #{aid}
    </update>

    <delete id="deleteAysActById" parameterType="Long">
        delete from ays_act where aid = #{aid}
    </delete>

    <delete id="deleteAysActByIds" parameterType="String">
        delete from ays_act where aid in 
        <foreach item="aid" collection="array" open="(" separator="," close=")">
            #{aid}
        </foreach>
    </delete>
    
</mapper>